<!DOCTYPE html>
<html>
    <head>
      <link href="/style.css" rel="stylesheet">
    </head>
    <body>
      <% include partials/nav.ejs %>
      <h1>Welcome to our world!</h1>
      <p>Awesome Website</p>
    </body>
</html>
